
/* Stylepretty */ 

body{
    font-family: 'Gudea', sans-serif;
    font-size: small;
    color: #333;
}

h2, h3 { 
    margin: 0;
    padding: 0;
}

h2{
    font-family: 'Stint Ultra Expanded', cursive;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
    margin-bottom: 3px;
}

h3{
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: x-large;
    line-height: 1.2;
}

.flavor{
    text-align: center;
    padding: 3px;
    font-size: x-small;
    line-height: 1;
    padding: 0px 15px;
}


p {
    margin-top: 3px;
    margin-bottom: 0;
}

.Page
{
    padding: 2px;
}

.Card h3 
{
    margin-top: 55px;
    margin-left: 35px;
    margin-right: 5px;
}

.Card p, .Card div
{
    margin-left: 35px;
    margin-right: 5px;
}

.Helper, .Survivor
{
    background-size: 320px 420px;
    width: 320px;
    height: 420px;
    margin-left: 3px;
}

.Crisis h2, .Crisis .type, .Salvage h2, .Survivor h2, .Mutation h2, .Emplacement h2, .Rare .type, .Helper h2, .Helper h3
{
    display: none;
}

.Survivor h3
{
    visibility: hidden;
    height: 30px;
}

.Survivor p
{
    margin-left: 60px;
}

.Salvage .type
{
    position: absolute; 
    bottom: 3px;
}

.Super { background: url('assets/catastrophe_super.png') !important; }

.Catastrophe { background: url('assets/catastrophe.png'); }

.Collapse { background: url('assets/collapse.png'); }
.Rats { background: url('assets/collapse_vermin.png'); }
.Fire{ background: url('assets/collapse_fire.png'); }

.Combat { background: url('assets/combat.png'); }
.Dogs{ background: url('assets/combat_dogs.png'); }
.Ghoul {background: url('assets/combat_ghoul.png');}
.Mustard { background: url('assets/combat_mustard.png'); }
.Android { background: url('assets/combat_android.png'); }
.Radiation { background: url('assets/combat_radangel.png'); }
.Superintelligence { background: url('assets/combat_superintelligence.png'); }
.Screamers{ background: url('assets/combat_screamers.png'); }

.Common{ background: url('assets/common_salvage.png') !important; }

.X-2021 { background: url('assets/survivor_x2021.png'); }
.Jai { background: url('assets/survivor_jai.png'); }
.Jeff { background: url('assets/survivor_jeff.png'); }
.Justice { background: url('assets/survivor_justice.png'); }
.King { background: url('assets/survivor_king.png'); }
.Max { background: url('assets/survivor_max.png'); }
.Naoki { background: url('assets/survivor_naoki.png'); }
.Rodrigo { background: url('assets/survivor_rodrigo.png'); }

.Thermonuclear { background: url('assets/rare_thermonuclear.png'); } 
.Sniper { background: url('assets/rare_sniper.png'); } 
.Submachine { background: url('assets/rare_smg.png'); } 
.Microwave { background: url('assets/rare_microwave.png'); } 
.Medical { background: url('assets/rare_medical.png'); } 
.Ally { background: url('assets/rare_ally.png'); } 
.Calvary { background: url('assets/rare_calvalry.png'); } 
.Mandy { background: url('assets/rare_mandy.png'); } 
.Macho { background: url('assets/rare_machodan.png'); } 
.Improvised { background: url('assets/rare_ied.png'); } 
.Herpbert { background: url('assets/rare_herp.png'); } 
.Launcher { background: url('assets/rare_grenade_launcher.png'); } 
.Flamethrower { background: url('assets/rare_flamethrower.png'); } 
.Duke { background: url('assets/rare_duke.png'); } 
.Cordless { background: url('assets/rare_cordless.png'); } 

.Mutation { background: url('assets/mutation.png'); }

.Emplacement { background: url('assets/emplacement.png'); }

.Helper_Die { background: url('assets/helper_die.png'); }
.Helper_Turns { background: url('assets/helper_turns.png'); }
.Helper_Common{ background: url('assets/helper_common_salvage.png'); }
.Helper_Rare{ background: url('assets/helper_rare_salvage.png'); } 
.Helper_Mutation{ background: url('assets/helper_mutation.png'); } 
.Helper_Crisis{ background: url('assets/helper_crisis.png'); } 
.Helper_Catastrophe{ background: url('assets/helper_catastrophe.png'); }
.Helper_Today{ background: url('assets/helper_today.png'); } 
