Design a game.

Quickly, now. 

You have: 
10 index cards - that you can draw on in advance. 
16 dice, in 4 different colors. 
White tokens. 
4 pens, in 4 different colors. 
15-minutes- including time to describe the rules.

... go!