.Card
{
	padding-left: 5px;
	padding-right: 5px;
    background-size: 227px 302px;
    font-family: Georgia;
}

h2 { display: none; } 
.category { display: none; } 


.type 
{
	position: absolute;
	top: 10px;
	left: 10px;
}

.Combat
{
    background: url('assets/combat.png');
}

.Combat h3
{
    margin-top: 30px;
}

.Strategic
{
    background: url('assets/strategic_objective.png');
}
