.Card
{
	padding-left: 5px;
	padding-right: 5px;
	background-size: 227px 302px;
	background-position: top right;
    font-family: Georgia;
}

h2 { display: none; } 
.category { display: none; } 


.type 
{
	position: absolute;
	top: 10px;
	left: 10px;
}

div.icons {
	float: left;
	position: absolute;
	bottom: 0;
	margin-left: 5px;
	margin-bottom: 5px;
}

div.icons div {
	float: left;
	width: 48px;
	height: 48px;
}

.FoodIncrease {
	background-image: url('assets/food-inc.png');
}

.FoodNeutral {
	background-image: url('assets/food-base.png');
}

.FoodDecrease {
	background-image: url('assets/food-dec.png');
}

.PopulationIncrease {
	background-image: url('assets/population-inc.png');
}

.PopulationNeutral{
	background-image: url('assets/population-base.png');
}

.PopulationDecrease {
	background-image: url('assets/population-dec.png');
}

.MoraleIncrease {
	background-image: url('assets/morale-inc.png');
}

.MoraleNeutral {
	background-image: url('assets/morale-base.png');
}

.MoraleDecrease {
	background-image: url('assets/morale-dec.png');
}

.FuelIncrease {
	background-image: url('assets/fuel-inc.png');
}

.FuelNeutral {
	background-image: url('assets/fuel-base.png');
}

.FuelDecrease {
	background-image: url('assets/fuel-dec.png');
}

.MilitaryIncrease {
	background-image: url('assets/military-inc.png');
}

.MilitaryNeutral {
	background-image: url('assets/military-base.png');
}

.MilitaryDecrease {
	background-image: url('assets/military-dec.png');
}

